# 07-04

## Challenge 03 - Further with Spark DataFrames
---
![](https://images.unsplash.com/photo-1511713724866-102ba72ac216?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)
Picture by [Maxi am Brunnen](https://unsplash.com/photos/FOyhzt-ryM0)

**Q1) Load the Spark Session and name it as you like.**

In [1]:
# TODO
from pyspark.sql import SparkSession

### STRIP_START
spark = SparkSession.builder \
    .master("local[4]") \
    .appName("dataframes") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()
### STRIP_END

In [18]:
print(spark.sparkContext.uiWebUrl)

http://192.168.0.19:4041

**Q2.1) Download the Paris trees dataset in CSV format.**

[Source : Paris Open Data](https://opendata.paris.fr/explore/dataset/les-arbres/information/)

In [13]:
# Q2 - pull csv file

**Q2.2) Display the first two lines of the file with the linux head command**

In [16]:
# TODO
!head -n 2 /home/guillaume/code/GGIML/vivadata-student/data/arbres/les-arbres.csv

**Q3) Create a DataFrame from the CSV file.** 

Syntax is :

```df = SparkSession.read.csv("FILENAME", parameter=value... )```

In [22]:
# TODO
df = spark.read.csv('/home/guillaume/code/GGIML/vivadata-student/data/arbres/les-arbres.csv', header=True, inferSchema=True, sep=';')

**Q4) Explore your dataframe**

You can use functions like **show**, **select**, **dtypes**, **describe**, **filter**, **count**.

Here as some cells with suggested manipulations. Here it is important to understand how to chain instructions on a dataframe.

In [34]:
# Show some lines
df.toPandas().head(10)

,IDBASE,TYPE EMPLACEMENT,DOMANIALITE,ARRONDISSEMENT,COMPLEMENT ADRESSE,NUMERO,LIEU / ADRESSE,IDEMPLACEMENT,LIBELLE FRANCAIS,GENRE,ESPECE,VARIETE OUCULTIVAR,CIRCONFERENCE (cm),HAUTEUR (m),STADE DE DEVELOPPEMENT,REMARQUABLE,geo_point_2d
0,130350,Arbre,Jardin,PARIS 15E ARRDT,None,None,PARC ANDRE CITROEN,00080186,Pommier à fleurs,Malus,None,''Evereste'',0,0,None,None,"48.8432503714,2.27429224091"
1,135667,Arbre,Jardin,PARIS 17E ARRDT,None,None,TALUS PORTE MAILLOT 53B / 1V PLACE DE VERDUN,000101003,Sophora,Sophora,japonica,None,124,9,A,NON,"48.8790803044,2.28036336482"
2,147353,Arbre,CIMETIERE,PARIS 20E ARRDT,None,None,CIMETIERE DU PERE LACHAISE / AVENUE CIRCULAIRE...,A01500088010,Marronnier,Aesculus,hippocastanum,None,150,12,A,NON,"48.863116348,2.3973165582"
3,169786,Arbre,CIMETIERE,HAUTS-DE-SEINE,None,None,CIMETIERE DE BAGNEUX / AVENUE DES TILLEULS DE ...,A09000059001,Tilleul,Tilia,platyphyllos,None,0,0,None,None,"48.8051536511,2.3099027495"
4,187058,Arbre,DASCO,PARIS 17E ARRDT,None,None,LEMERCIER (105) ELEM,08810010,Marronnier,Aesculus,hippocastanum,None,95,12,A,NON,"48.889498376,2.31773595328"
5,195377,Arbre,PERIPHERIQUE,PARIS 20E ARRDT,None,None,TALUS N°30-02,093002033,Peuplier,Populus,nigra,''Italica'',205,15,A,NON,"48.8601785252,2.41437779408"
6,249891,Arbre,Alignement,PARIS 15E ARRDT,N°52 bis,None,RUE LABROUSTE,000602003,Charme,Carpinus,betulus,''Fastigiata'',55,7,A,NON,"48.8333632386,2.30752336259"
7,254070,Arbre,Alignement,PARIS 16E ARRDT,None,None,AVENUE DE VERSAILLES,001402008,Erable,Acer,pseudoplatanus,None,150,18,A,NON,"48.8457280512,2.27187661503"
8,263716,Arbre,Alignement,PARIS 8E ARRDT,None,None,AVENUE DES CHAMPS ELYSEES,000703035,Marronnier,Aesculus,hippocastanum,None,121,13,A,NON,"48.8683606289,2.31108854929"
9,277115,Arbre,Alignement,PARIS 7E ARRDT,Parking Suffren,None,JARDIN DU CHAMP DE MARS ET PELOUSES DE L ECOLE...,A01003029,Sophora,Sophora,japonica,None,77,7,A,NON,"48.8523209812,2.30165762048"

In [37]:
# Check the column list
print(df.columns)

['IDBASE', 'TYPE EMPLACEMENT', 'DOMANIALITE', 'ARRONDISSEMENT', 'COMPLEMENT ADRESSE', 'NUMERO', 'LIEU / ADRESSE', 'IDEMPLACEMENT', 'LIBELLE FRANCAIS', 'GENRE', 'ESPECE', 'VARIETE OUCULTIVAR', 'CIRCONFERENCE (cm)', 'HAUTEUR (m)', 'STADE DE DEVELOPPEMENT', 'REMARQUABLE', 'geo_point_2d']

In [39]:
# Select
df.select('ARRONDISSEMENT', 'LIBELLE FRANCAIS', 'HAUTEUR (m)').show()

+---------------+----------------+-----------+
| ARRONDISSEMENT|LIBELLE FRANCAIS|HAUTEUR (m)|
+---------------+----------------+-----------+
|PARIS 15E ARRDT|Pommier à fleurs|          0|
|PARIS 17E ARRDT|         Sophora|          9|
|PARIS 20E ARRDT|      Marronnier|         12|
| HAUTS-DE-SEINE|         Tilleul|          0|
|PARIS 17E ARRDT|      Marronnier|         12|
|PARIS 20E ARRDT|        Peuplier|         15|
|PARIS 15E ARRDT|          Charme|          7|
|PARIS 16E ARRDT|          Erable|         18|
| PARIS 8E ARRDT|      Marronnier|         13|
| PARIS 7E ARRDT|         Sophora|          7|
|PARIS 18E ARRDT|         Platane|         25|
|PARIS 18E ARRDT|         Sophora|         15|
|PARIS 13E ARRDT|        Magnolia|          8|
|PARIS 14E ARRDT|     Micocoulier|          5|
|PARIS 19E ARRDT|         Platane|          5|
|PARIS 17E ARRDT|        Robinier|          0|
|PARIS 19E ARRDT|          Mûrier|          0|
|PARIS 19E ARRDT|         Bouleau|          0|
| PARIS 7E ARRDT|         Platane|         14|
|PARIS 18E ARRDT|         Sophora|         10|
+---------------+----------------+-----------+
only showing top 20 rows

In [40]:
# Dataframe dtypes
df.dtypes

[('IDBASE', 'int'),
 ('TYPE EMPLACEMENT', 'string'),
 ('DOMANIALITE', 'string'),
 ('ARRONDISSEMENT', 'string'),
 ('COMPLEMENT ADRESSE', 'string'),
 ('NUMERO', 'string'),
 ('LIEU / ADRESSE', 'string'),
 ('IDEMPLACEMENT', 'string'),
 ('LIBELLE FRANCAIS', 'string'),
 ('GENRE', 'string'),
 ('ESPECE', 'string'),
 ('VARIETE OUCULTIVAR', 'string'),
 ('CIRCONFERENCE (cm)', 'int'),
 ('HAUTEUR (m)', 'int'),
 ('STADE DE DEVELOPPEMENT', 'string'),
 ('REMARQUABLE', 'string'),
 ('geo_point_2d', 'string')]

In [43]:
# Select columns and desribe and show
df.select('CIRCONFERENCE (cm)', 'HAUTEUR (m)').toPandas().describe()

       CIRCONFERENCE (cm)    HAUTEUR (m)
count       205015.000000  205015.000000
mean            84.578036      13.261244
std            804.487261    1947.626896
min              0.000000       0.000000
25%             30.000000       5.000000
50%             70.000000       8.000000
75%            115.000000      12.000000
max         250255.000000  881818.000000

In [50]:
# Filter the values
# For example, let's keep only remarquable trees
df.filter((df.REMARQUABLE == 'OUI') & (df.ARRONDISSEMENT == 'PARIS 15E ARRDT')).toPandas()

,IDBASE,TYPE EMPLACEMENT,DOMANIALITE,ARRONDISSEMENT,COMPLEMENT ADRESSE,NUMERO,LIEU / ADRESSE,IDEMPLACEMENT,LIBELLE FRANCAIS,GENRE,ESPECE,VARIETE OUCULTIVAR,CIRCONFERENCE (cm),HAUTEUR (m),STADE DE DEVELOPPEMENT,REMARQUABLE,geo_point_2d
0,113597,Arbre,Jardin,PARIS 15E ARRDT,None,None,SQUARE DE LA PLACE ADOLPHE CHERIOUX / 260 RUE ...,000106001,Chêne,Quercus,frainetto,None,180,15,A,OUI,"48.8396441672,2.30097558498"
1,111642,Arbre,Jardin,PARIS 15E ARRDT,15-04,None,SQUARE SAINT-LAMBERT,00000084,Erable,Acer,saccharinum,None,240,20,A,OUI,"48.8428184075,2.29688266387"
2,111640,Arbre,Jardin,PARIS 15E ARRDT,15-02,None,SQUARE SAINT-LAMBERT,00000087,Aulne,Alnus,n. sp.,None,225,18,A,OUI,"48.8428258374,2.29728541016"
3,112222,Arbre,Jardin,PARIS 15E ARRDT,15-05,None,SQUARE SAINT-LAMBERT,00000151,Micocoulier,Celtis,australis,None,225,18,A,OUI,"48.8426511702,2.29608898567"
4,128372,Arbre,Jardin,PARIS 15E ARRDT,None,None,SQUARE DU CLOS FEUQUIERES,00000001,Hêtre,Fagus,sylvatica,''Pendula'',140,4,A,OUI,"48.836425027,2.29018563176"
5,128373,Arbre,Jardin,PARIS 15E ARRDT,None,None,SQUARE DU CLOS FEUQUIERES,00000002,Hêtre,Fagus,sylvatica,''Pendula'',130,5,A,OUI,"48.8363411221,2.29020948574"

In [52]:
# Count how many remarquable trees we have in the dataset.
df.filter(df.REMARQUABLE == 'OUI').count()

180

**Q5) Deleting a column**

We have seen in the previous question that we can chain multiple operations on a dataframe. BUT, all we did in the previous cells did not modify our dataframe.

If you want to modify a dataframe, you have to reassign the variable. 

Obviously, we will not use the ```geo_point_2d```. Reassign the dataframe (df), or create a new variable, and drop the column.

In [53]:
# TODO
df = df.drop('geo_point_2d')

In [54]:
df.toPandas()

,IDBASE,TYPE EMPLACEMENT,DOMANIALITE,ARRONDISSEMENT,COMPLEMENT ADRESSE,NUMERO,LIEU / ADRESSE,IDEMPLACEMENT,LIBELLE FRANCAIS,GENRE,ESPECE,VARIETE OUCULTIVAR,CIRCONFERENCE (cm),HAUTEUR (m),STADE DE DEVELOPPEMENT,REMARQUABLE
0,130350,Arbre,Jardin,PARIS 15E ARRDT,None,None,PARC ANDRE CITROEN,00080186,Pommier à fleurs,Malus,None,''Evereste'',0,0,None,None
1,135667,Arbre,Jardin,PARIS 17E ARRDT,None,None,TALUS PORTE MAILLOT 53B / 1V PLACE DE VERDUN,000101003,Sophora,Sophora,japonica,None,124,9,A,NON
2,147353,Arbre,CIMETIERE,PARIS 20E ARRDT,None,None,CIMETIERE DU PERE LACHAISE / AVENUE CIRCULAIRE...,A01500088010,Marronnier,Aesculus,hippocastanum,None,150,12,A,NON
3,169786,Arbre,CIMETIERE,HAUTS-DE-SEINE,None,None,CIMETIERE DE BAGNEUX / AVENUE DES TILLEULS DE ...,A09000059001,Tilleul,Tilia,platyphyllos,None,0,0,None,None
4,187058,Arbre,DASCO,PARIS 17E ARRDT,None,None,LEMERCIER (105) ELEM,08810010,Marronnier,Aesculus,hippocastanum,None,95,12,A,NON
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205010,109038,Arbre,Jardin,PARIS 13E ARRDT,None,None,PARC KELLERMANN,00000014,Tilleul,Tilia,platyphyllos,None,90,8,None,None
205011,151487,Arbre,CIMETIERE,HAUTS-DE-SEINE,None,None,CIMETIERE DE BAGNEUX / AVENUE DE L''AULNAIE / ...,A03200099003,Aulne,Alnus,cordata,None,0,0,None,None
205012,164598,Arbre,CIMETIERE,SEINE-SAINT-DENIS,None,None,CIMETIERE DE PANTIN / DIV 139,D00000139001,Prunier à fleurs,Prunus,cerasifera,''Pissardii'',70,6,JA,NON
205013,296314,Arbre,Alignement,PARIS 13E ARRDT,None,None,RUE BOBILLOT,002602020,Tilleul,Tilia,tomentosa,None,70,8,JA,NON
205014,2020021,Arbre,Jardin,PARIS 18E ARRDT,None,None,JARDIN ROSA LUXEMBOURG / 22 BIS RUE PAJOL,000108009,Pin,Pinus,sylvestris,None,70,8,J,NON

**In the following questions you will discover the **.withColumn()** operator. It's one of the most useful tool for manipulating columns.**

**Q6) Renaming a column **

We'll start with the **.withColumnRenamed** operator, to rename a column. Change the "LIEU / ADRESSE" to "ADRESSE".

Syntax : ```df.withColumnRenamed("colName", "newColName")```

Dont forget you have to reassign a variable for your instruction to be applied.

In [55]:
# TODO
df = df.withColumnRenamed('LIEU / ADRESSE', 'ADRESSE')

In [56]:
df.columns

['IDBASE',
 'TYPE EMPLACEMENT',
 'DOMANIALITE',
 'ARRONDISSEMENT',
 'COMPLEMENT ADRESSE',
 'NUMERO',
 'ADRESSE',
 'IDEMPLACEMENT',
 'LIBELLE FRANCAIS',
 'GENRE',
 'ESPECE',
 'VARIETE OUCULTIVAR',
 'CIRCONFERENCE (cm)',
 'HAUTEUR (m)',
 'STADE DE DEVELOPPEMENT',
 'REMARQUABLE']

**Q7) Modify/Create a column :**

.withColumn applies an operation to a whole column. It creates a new column with the name given. If you give the same name, the column will be replaced.

Apply the withColumn function to concatenate the columns NUMERO and ADRESSE, into a new column named ADRESSE_COMPLETE.

For concatenating, we use **concat_ws** (with separator), one of the built-in function of spark sql. It's a set of function made specifically for Dataframes.

Here is the syntax to gather the columns : 

```concat_ws(" ", df_mod.NUMERO, df_mod.ADRESSE)```

In [59]:
from pyspark.sql.functions import concat_ws

In [60]:
# TODO
df = df.withColumn('ADRESSE_COMPLETE', concat_ws(' ', df.NUMERO, df.ADRESSE))

One amazing thing with SparkSQL DataFrames, is the possibility to write SQL queries on your DataFrame

**Q8) Here are the steps for using SQL with dataframes :**
1. Register your dataframe into a temporary table with : ```df.registerTempTable("customTableName")```
2. Create a SQLContext, from the spark session with : ```sqlContext = SQLContext(spark_sess)```
3. Query your temporary table with this syntax : ```sqlContext.sql("SELECT column FROM customTableName").show()```

Follow these steps and query your dataframe with SQL to display ARRONDISSEMENT and CIRCONFERENCEENCM, ordered by descending CIRCONFERENCEENCM. Can you believe the results ?!

In [83]:
# Step 1
df.registerTempTable('treesTable')
# Step 2
sqlContext = SQLContext(spark)
# Query
sqlContext.sql("SELECT ARRONDISSEMENT FROM treesTable").show()

+---------------+
| ARRONDISSEMENT|
+---------------+
|PARIS 15E ARRDT|
|PARIS 17E ARRDT|
|PARIS 20E ARRDT|
| HAUTS-DE-SEINE|
|PARIS 17E ARRDT|
|PARIS 20E ARRDT|
|PARIS 15E ARRDT|
|PARIS 16E ARRDT|
| PARIS 8E ARRDT|
| PARIS 7E ARRDT|
|PARIS 18E ARRDT|
|PARIS 18E ARRDT|
|PARIS 13E ARRDT|
|PARIS 14E ARRDT|
|PARIS 19E ARRDT|
|PARIS 17E ARRDT|
|PARIS 19E ARRDT|
|PARIS 19E ARRDT|
| PARIS 7E ARRDT|
|PARIS 18E ARRDT|
+---------------+
only showing top 20 rows

At this point, you have covered a lot of tools to play around with Dataframes.

**Q9) Challenge recap**
- Modify your dataframe : Create a new column APPELLATION concatenating ESPECE and VARIETEOUCULTIVAR.
- Load your dataframe into a temp SQL table.
- Query your table : Display in descending order the count for each APPELLATION (Use Group By)

In [88]:
# 1. Create a new column by concatenation
df = df.withColumn('APPELLATION', concat_ws(' ', df.ESPECE, df['VARIETE OUCULTIVAR']))

# 2. Create SQLContext like above
df.registerTempTable('new_treesTable')

# 3. SQL Query
sqlContext.sql("SELECT APPELLATION FROM new_treesTable").show()

+--------------------+
|         APPELLATION|
+--------------------+
|        ''Evereste''|
|            japonica|
|       hippocastanum|
|        platyphyllos|
|       hippocastanum|
|   nigra ''Italica''|
|betulus ''Fastigi...|
|      pseudoplatanus|
|       hippocastanum|
|            japonica|
|         x hispanica|
|            japonica|
|         grandiflora|
|           australis|
|         x hispanica|
|pseudoacacia ''Sa...|
|               nigra|
|utilis ''Doorenbos''|
|        occidentalis|
|            japonica|
+--------------------+
only showing top 20 rows

In [96]:
# TODO : delete the dataset
from pyspark.sql import DataFrame
lst = [k for (k, v) in globals().items() if isinstance(v, DataFrame)]

In [97]:
lst

['__', 'trees', 'df', '_38', '_44', '_61', '_92']

In [98]:
df.unpersist()

DataFrame[IDBASE: int, TYPE EMPLACEMENT: string, DOMANIALITE: string, ARRONDISSEMENT: string, COMPLEMENT ADRESSE: string, NUMERO: string, ADRESSE: string, IDEMPLACEMENT: string, LIBELLE FRANCAIS: string, GENRE: string, ESPECE: string, VARIETE OUCULTIVAR: string, CIRCONFERENCE (cm): int, HAUTEUR (m): int, STADE DE DEVELOPPEMENT: string, REMARQUABLE: string, ADRESSE_COMPLETE: string, APPELLATION: string]

In [99]:
lst = [k for (k, v) in globals().items() if isinstance(v, DataFrame)]

In [101]:
lst

['_', 'trees', 'df', '_38', '_44', '_61', '_92', '_98']