# Challenge - Kickstarter preprocessing
---
![](https://images.unsplash.com/photo-1530083727892-3c261661d7a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)
Picture by [Steve Halama](https://unsplash.com/photos/GjSzvtZhMoA)

In this exercise, we will start working on the Kickstarter dataset, each record is about a specific campaign. Today, you will pre-process the dataset. 

During the next Spark course, you will apply machine learning to predict successful campaigns.

In [1]:
# Q0 - download csv file
!curl -O https://s3.eu-central-1.amazonaws.com/alex-image-hosting/train_clean.csv > train_clean.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 31.1M  100 31.1M    0     0  18.2M      0  0:00:01  0:00:01 --:--:-- 18.2M

**Q1 - Have a look at our train_clean.csv file, with the linux ```head``` command.**

In [1]:
# Q1 - Unix command for file first lines
!head -n 5 train_clean.csv

project_id,name,desc,goal,keywords,disable_communication,country,currency,deadline,state_changed_at,created_at,launched_at,backers_count,final_status
kkst1451568084,drawing for dollars,I like drawing pictures. and then i color them too. so i thought i would suggest something for me to draw and then if someone wants...,20.0,drawing-for-dollars,False,US,USD,1241333999,1241334017,1240600507,1240602723,3,1
kkst1474482071,Sponsor Dereck Blackburn (Lostwars) Artist in Residence in Kankakee Illinois,I  Dereck Blackburn will be taking upon an incredible journey in the month of May 2009. I will be traveling to my hometown of Kankakee...,300.0,sponsor-dereck-blackburn-lostwars-artist-in-residence-in-kankakee-illinois,False,US,USD,1242429000,1242432018,1240960224,1240975592,2,0
kkst183622197,Mr. Squiggles,So I saw darkpony s successfully funded drawing for dollars project and I thought  That s fun.  I drew this guy  who I m calling...,30.0,mr-squiggles,False,US,USD,1243027560,1243027818,1242163613,1242164398,0,0
kkst597742710,Help me write my second novel.,Do your part to help out starving artists and help me write my second novel! I have just finished writing my first novel  and...,500.0,help-me-write-my-second-novel,False,US,USD,1243555740,1243556121,1240963795,1240966730,18,1

**Q2 - Create the spark session variable, name it "preprocessing".**

In [4]:
# TODO
from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local[4]').appName('preprocessing').getOrCreate()

In [5]:
print(spark.sparkContext.uiWebUrl)

http://192.168.0.19:4040

## Loading & exploring data

**Q3 - Load the data from the train_clean.csv. We have seen at Q1 that this file has a header.**

In [6]:
# TODO
data = spark.read.csv('train_clean.csv', header=True, inferSchema=True)

**Q4 - Let's go for some exploration :**
	- 4.1) Number of lines and columns.
	- 4.2) Display the first 20  rows of the dataframe.
	- 4.3) Print the schema of the dataframe.

In [9]:
# Q4.1 Number of lines and columns.
data.toPandas()

,project_id,name,desc,goal,keywords,disable_communication,country,currency,deadline,state_changed_at,created_at,launched_at,backers_count,final_status
0,kkst1451568084,drawing for dollars,I like drawing pictures. and then i color them...,20.0,drawing-for-dollars,False,US,USD,1241333999,1241334017,1240600507,1240602723,3.0,1.0
1,kkst1474482071,Sponsor Dereck Blackburn (Lostwars) Artist in ...,I Dereck Blackburn will be taking upon an inc...,300.0,sponsor-dereck-blackburn-lostwars-artist-in-re...,False,US,USD,1242429000,1242432018,1240960224,1240975592,2.0,0.0
2,kkst183622197,Mr. Squiggles,So I saw darkpony s successfully funded drawin...,30.0,mr-squiggles,False,US,USD,1243027560,1243027818,1242163613,1242164398,0.0,0.0
3,kkst597742710,Help me write my second novel.,Do your part to help out starving artists and ...,500.0,help-me-write-my-second-novel,False,US,USD,1243555740,1243556121,1240963795,1240966730,18.0,1.0
4,kkst1913131122,Support casting my sculpture in bronze,I m nearing completion on a sculpture current...,2000.0,support-casting-my-sculpture-in-bronze,False,US,USD,1243769880,1243770317,1241177914,1241180541,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108124,kkst542772509,Custom Wearable Art,Sacred geometry art and custom clothing. Embro...,2000.0,custom-wearable-art,False,US,USD,1433095651,1433095654,1429382307,1430503651,3.0,0.0
108125,kkst615785942,Painted Modern Wall art Mid-century! $100 for...,I want to create pieces very similar to this o...,15000.0,zacharys-art-project,False,US,USD,1433096040,1433096041,1428339909,1428344094,1.0,0.0
108126,kkst1421442073,Creating High Quality Art Prints from the Arti...,I am seeking to produce prints to promote my r...,320.0,creating-high-quality-art-prints-from-the-arti...,False,US,USD,1433096334,1433096337,1430420564,1430504334,11.0,1.0
108127,kkst2022543055,back to basics,A self sustaining homestead with organic produ...,35000.0,back-to-basics-2,False,US,USD,1433096580,1433096584,1430072594,1430421727,0.0,0.0
108128,kkst169301870,"Happy Olive, Mediterranean Wraps",Mediterranean Wraps done right!,25000.0,happy-olive-mediterranean-wraps,False,US,USD,1433096938,1433096940,1429144432,1429208938,1.0,0.0

In [10]:
# Q4.2 Display the first 20  rows of the dataframe.
data.limit(20).toPandas()

,project_id,name,desc,goal,keywords,disable_communication,country,currency,deadline,state_changed_at,created_at,launched_at,backers_count,final_status
0,kkst1451568084,drawing for dollars,I like drawing pictures. and then i color them...,20.0,drawing-for-dollars,False,US,USD,1241333999,1241334017,1240600507,1240602723,3,1
1,kkst1474482071,Sponsor Dereck Blackburn (Lostwars) Artist in ...,I Dereck Blackburn will be taking upon an inc...,300.0,sponsor-dereck-blackburn-lostwars-artist-in-re...,False,US,USD,1242429000,1242432018,1240960224,1240975592,2,0
2,kkst183622197,Mr. Squiggles,So I saw darkpony s successfully funded drawin...,30.0,mr-squiggles,False,US,USD,1243027560,1243027818,1242163613,1242164398,0,0
3,kkst597742710,Help me write my second novel.,Do your part to help out starving artists and ...,500.0,help-me-write-my-second-novel,False,US,USD,1243555740,1243556121,1240963795,1240966730,18,1
4,kkst1913131122,Support casting my sculpture in bronze,I m nearing completion on a sculpture current...,2000.0,support-casting-my-sculpture-in-bronze,False,US,USD,1243769880,1243770317,1241177914,1241180541,1,0
5,kkst1085176748,daily digest,I m a fledgling videoblogger living in Brookly...,700.0,daily-digest,False,US,USD,1243815600,1243816219,1241050799,1241464468,14,0
6,kkst1468954715,iGoozex - Free iPhone app,I am an independent iPhone developer that beli...,250.0,igoozex-free-iphone-app,False,US,USD,1243872000,1243872028,1241725172,1241736308,2,0
7,kkst194050612,Drive A Faster Car 2.0,Drive A Faster Car (http://www.driveafastercar...,1000.0,drive-a-faster-car-20,False,US,USD,1244088000,1244088022,1241460541,1241470291,32,1
8,kkst708883590,"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""...",Opening Friday June 5 2009 on view through S...,5000.0,lostles-at-tinys-giant,False,US,USD,1244264400,1244264422,1241415164,1241480901,44,0
9,kkst890976740,Choose Your Own Adventure - A Robot Painting S...,This project is for a Choose Your Own Adventur...,3500.0,choose-your-own-adventure-a-robot-painting-series,False,US,USD,1244946540,1244946632,1242268157,1242273460,18,0
10,kkst2053381363,Anatomy of a Credibility Meltdown — a book abo...,I am an independent PR practitioner with a lon...,30000.0,anatomy-of-a-credibility-meltdown-a-book-about...,False,US,USD,1245026160,1245026721,1241829376,1242056094,7,0
11,kkst918550886,No-bit: An artist book of analog drawings insp...,I want to create an artist book of drawings in...,300.0,no-bit-an-artist-book-of-analog-drawings-inspi...,False,US,USD,1245038400,1245038428,1242523061,1242528805,2,0
12,kkst934689279,"Indie Nerd Board Game, Needs Player Character ...",pictured here is the character we would like t...,1500.0,indie-nerd-board-game-needs-hero-miniature-scu...,False,US,USD,1245042600,1245042919,1242364202,1242369560,28,1
13,kkst191414809,Icons for your iPhone apps,I make cool icons for iPhone developers at htt...,500.0,awesome-icons-for-your-iphone-apps,False,US,USD,1245092400,1245092431,1241034764,1241039475,98,1
14,kkst569584443,HAPPY VALLEY: Dexter meets 6 Feet Under. For t...,I am a professional creator and producer of we...,500.0,help-me-make-my-webseries-pilot-on-crime-and-a...,False,US,USD,1245528660,1245528920,1242072711,1242333869,3,0
15,kkst485555421,Project Pedal,Project Pedal is an independent documentary ab...,1000.0,project-pedal,False,US,USD,1245556740,1245556829,1242682134,1242690018,20,1
16,kkst1537563608,"Frank Magazine Erotica Issue Party, NYC",We are throwing a party to celebrate the relea...,600.0,frank-magazine-erotica-issue-party-nyc,False,US,USD,1245882360,1245882631,1244579167,1244742156,12,0
17,kkst1261713500,Crossword Puzzles!,I create crosswords and other puzzles. These h...,1500.0,crossword-puzzles,False,US,USD,1246354320,1246355121,1240997554,1241005923,163,1
18,kkst910550425,"Run, Blago Run! Show",A 3-day pop-up art gallery of work depicting e...,3500.0,run-blago-run-show,False,US,USD,1246420800,1246420854,1244299453,1244388012,54,0
19,kkst139451001,It Might Become a Movie,We are broke film students who have created a ...,1000.0,it-might-become-a-movie,False,US,USD,1246420800,1246420840,1243272026,1243616180,23,1

In [22]:
# Q4.3 Print the schema of the dataframe.
data.printSchema()

root
 |-- project_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- desc: string (nullable = true)
 |-- goal: string (nullable = true)
 |-- keywords: string (nullable = true)
 |-- disable_communication: string (nullable = true)
 |-- country: string (nullable = true)
 |-- currency: string (nullable = true)
 |-- deadline: string (nullable = true)
 |-- state_changed_at: string (nullable = true)
 |-- created_at: string (nullable = true)
 |-- launched_at: string (nullable = true)
 |-- backers_count: integer (nullable = true)
 |-- final_status: integer (nullable = true)

**Q5 - When printing the schema, we see that all columns are strings. Assign the integer type to columns you think appropriate. Have a look at the csv file. This new dataframe will be named dfCasted, print its schema.**

*Hint : Use the .withColumn(newColName, newColValue) to cast each column.*

In [18]:
# TODO
from pyspark.sql.types import *

dfCasted = data.withColumn('goal', data.goal.cast(IntegerType()))
dfCasted = dfCasted.withColumn('deadline', data.deadline.cast(IntegerType()))
dfCasted = dfCasted.withColumn('state_changed_at', data.state_changed_at.cast(IntegerType()))
dfCasted = dfCasted.withColumn('created_at', data.created_at.cast(IntegerType()))
dfCasted = dfCasted.withColumn('launched_at', data.launched_at.cast(IntegerType()))

In [21]:
dfCasted.printSchema()

root
 |-- project_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- desc: string (nullable = true)
 |-- goal: integer (nullable = true)
 |-- keywords: string (nullable = true)
 |-- disable_communication: string (nullable = true)
 |-- country: string (nullable = true)
 |-- currency: string (nullable = true)
 |-- deadline: integer (nullable = true)
 |-- state_changed_at: integer (nullable = true)
 |-- created_at: integer (nullable = true)
 |-- launched_at: integer (nullable = true)
 |-- backers_count: integer (nullable = true)
 |-- final_status: integer (nullable = true)

**Q6 - We could have done this much faster. Do you know how ?**

**Hint** : Have a look at parameters in cell n°4

In [7]:
# TODO : Write your answer

## Data Cleaning

**Q7 - Give a statistical description of these columns together : goal, backers_count, final_status**

In [25]:
# TODO
dfCasted.select('goal', 'backers_count', 'final_status').toPandas().describe()

               goal  backers_count  final_status
count  1.076150e+05   1.081280e+05  1.081280e+05
mean   3.683903e+04   6.434187e+06  1.052361e+06
std    9.742153e+05   9.324062e+07  3.776050e+07
min    0.000000e+00   0.000000e+00  0.000000e+00
25%    2.000000e+03   2.000000e+00  0.000000e+00
50%    5.000000e+03   1.700000e+01  0.000000e+00
75%    1.300000e+04   6.600000e+01  1.000000e+00
max    1.000000e+08   1.430423e+09  1.428978e+09

**Q8 - Let's have a look at the **disable_communication** column. Group by values and display a descending value count. Show the top 10 values.**

*Hint : groupBy, count, orderBy, show*

What do you notice ? Considering the number of lines of our dataset, does this column provides information ?

In [30]:
# TODO
dfCasted.groupBy('disable_communication').count().orderBy('count', ascending=False).show(10)

+---------------------+------+
|disable_communication| count|
+---------------------+------+
|                False|107293|
|                 True|   322|
|               2500.0|     8|
|               1000.0|     7|
|               5000.0|     6|
|              10000.0|     5|
|               2000.0|     4|
|               8000.0|     3|
|  The Artist s Pro...|     3|
|              25000.0|     3|
+---------------------+------+
only showing top 10 rows

**What shall you do with this **disable_communication** column ?**

In [10]:
# TODO

**Q9 - Houston, we have a problem ! We can see the future in our dataset ! Can you find it ? These informations must be removed.**

*Hint : There are two problematic columns, it has something to do with the supporters, and a change during the project.*

In [11]:
# TODO

## **Q10 - Country & Currency : Start with some exploration of these columns.**

- Try some groupBy and counting, just like *Q8*. Then, read below.

You may think that *country* and *currency* are redundant, in which case we could just delete one of the two columns. What about Euro ?

In [12]:
# TODO : Country value count

In [13]:
# TODO : Currency value count

- Try selecting *goal* and *final_status*, and show some values.

In [14]:
# TODO

- Try showing value count for country and currency in the same table.

In [15]:
# TODO

**Q11 - Now, there is something else : Some values for *country* have the value *False*. Display these records, and groupBy *currency*, descending.**

*Hint : The instruction chain is the following : dfCasted.filter().groupBy().count().orderBy().show(), fill 3 parentheses.*

In [16]:
# TODO

*Definition - Custom functions :* Some column operations are already defined inside Spark, but we often need to apply more complex or more custom function. In this case, we can create User Defined Functions (UDF) and apply them on columns.

**Q12 - In this question, we will create two UDF.**
- **udfCountry(country, currency)** : If country=False, take the currency value, else, leave the country value.
- **udfCurrency(currency)** : If the length of currency is different than 3, assign a null value, else, leave the currency value.

In [17]:
# Q12 - UDF

# Convert the functions to Spark UDF types : udf(pythonFunction, outputType())

- BinaryType – Données binaires.
- BooleanType – Valeurs booléennes.
- ByteType – Valeur d'octet.
- DateType – Valeur d'horodatage.
- DoubleType – Valeur double à virgule flottante.
- IntegerType – Valeur d'entier.
- LongType – Valeur d'entier long.
- NullType – Valeur null.
- ShortType – Valeur d'entier court.
- StringType – Chaîne de texte.
- TimestampType – Valeur d'horodatage (généralement en secondes à partir du 01/01/1970).
- UnknownType – Valeur de type non identifié.

**Q13 - In this question we will apply our two UDF. Using the .withColumn operation, you can change a column, just like you did for type casting. withColumn will create two new columns : country2 and currency2.**

*Hint : df.withcolumn(country2, newColValue).withcolumn(currency2, newColValue)*

Also, you can add a drop statement (on country and currency) after the two withColumns, as we have created our new columns.

Check your dataframe once transformations are applied. Schema and first lines.

In [ ]:
# TODO

**Q14 - We will do one more cleanup on the column final_status**, which will be the label for our classification algorithm in next course.

First, count the number of elements for each values in final_status.

Finally, we need to delete records with **final_status** different than 0 or 1.

In [ ]:
# TODO : final_status count

In [ ]:
# TODO : filter

In [ ]:
# TODO : Check processing

## Feature engineering

It's sometimes useful to add features to our dataframe, to help our model learning. We will work with the time data.

**Q15 - Our dates columns are in unix timestamps. We first need to convert them to dates.**

In [ ]:
# TODO

**Q16 - Add a **days_campaign** column, which represents the duration of the campaign, in days. This is the difference between *launched_at* and *deadline*. Here we work with a date difference.**

Add a **hours_prep**, which represents the number of hours of preparation. This is the difference between *created_at* and *launched_at*. You may round to 2 digits after comma. Here we work with a timestamp difference.

Finally, apply a filter : we want to delete records with **days_campaign** AND **hours_prep** equal to zero, and we want the records with **goal** greater than zero

In [ ]:
from pyspark.sql.functions import round, datediff

# Date difference : datediff(Col1, Col2)

In [ ]:
# TODO : Filter

**Q17 - At this point, we don't need these columns anymore : *created_at*, *launched_at*, *deadline*.**

In [ ]:
# TODO : Drops

We will now work on text data, we will gather every text values into one.

**Q18 - Pass the columns *name*, *desc* and *keywords* into lowercase.**

In [ ]:
# A little search for passing strings to lower case ?

**Q19 - Create a new column called *text* which contains the three previous columns. Be careful to include a space between them so that we can split them later.**

In [ ]:
from pyspark.sql.functions import concat_ws

# Hint : Google("pyspark concat_ws"), don't forget the separator parameter

**Q20 - You can now delete these three text columns.**

In [ ]:
# TODO

## Processing null values

**Q21 - There are various techniques to handle null values to make them usable by an algorithm. Can you find 3 different methods ?**

In [ ]:
# TODO : Write your answer

**Q22 - For the columns *days_campaign*, *hours_prep* and *goal* : replace null values by **-1**.**

In [ ]:
# Look for na.fill at the following adress :
# https://spark.apache.org/docs/2.1.0/api/python/pyspark.sql.html

# TODO

**Q23 - For the columns **country2** and **currency2** : replace null values by **"unknown"**.**

In [ ]:
# TODO

## Exporting Dataframe

Well done, you have done a pretty good pipeline for pre-processing your dataset.

**Q24 - Finally, export your dataframe to the *parquet* format.**

*parquet* always exports a folder that may contain multiple files, this is due to the distributed nature of Spark.

The export function creates a directory with the name given in parameter. Give it **"kickstarter.parquet"**.

In [ ]:
# TODO