# 07-04

## Challenge 02 - Launching Spark, Dataframe discovery
---
![](https://images.unsplash.com/photo-1430116267665-e7f6b3dafce3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)
Picture by [Wil Stewart](https://unsplash.com/photos/2aCuwSh4RRk)

‚û°Ô∏è Content with this syntax : ```__ABCD__``` must be replaced accordingly.

**Q1 - Launch a Spark Session**

- Name the session "dataframes" or anythin you like
- There is one missing function at the end of the line, this function should "get or create" the spark session.

[üéÅ The documentation](https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.SparkSession)

In [6]:
import findspark
findspark.init('/home/guillaume/Programmes/spark-3.0.0-bin-hadoop2.7')
from pyspark.sql import SparkSession

### STRIP_START
spark = SparkSession.builder \
    .master("local[4]") \
    .appName("dataframes") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()
### STRIP_END

**Q2 - Retrieve the Spark Web UI adress, open it in a new tab and keep it for later**

[üéÅ The documentation](http://spark.apache.org/docs/latest/api/python/pyspark.html?highlight=subtr#pyspark.SparkContext.uiWebUrl)

In [7]:
# This information is situated in the SparkContext variable.
#print(spark1.sparkContext.__SparkContextAttribute__)

### STRIP_START
print(spark.sparkContext.uiWebUrl)
### STRIP_END

http://192.168.0.19:4040

**Q3 - Create a Dataframe from the [Uber CSV file](https://drive.google.com/open?id=1hLjLVuryuWd7OmeJ5rXp2YJ0BEIFyLaS), you will pass 3 parameters :**
    - The file name
    - A boolean parameter : header
    - A boolean parameter : inferSchema
    
[üéÅ The documentation](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrameReader.csv)

In [18]:
#df = spark1.read.csv("__filename__", \
                     #__param1__=bool, \
                     #__param2__=bool)

### STRIP_START
df = spark.read.csv('uber_trips.csv', header=True, inferSchema=True)
### STRIP_END

**Q4 - Check the python type of your Dataframe, do you recognize the Spark library used here ?**

At this point, we already have done a lot, with not so many line of codes.

In [19]:
#print(__pythonTypeOfDataframe__)

### STRIP_START
print(type(df))
### STRIP_END

<class 'pyspark.sql.dataframe.DataFrame'>

**Let's have a closer look at our Dataframe. Just like Pandas Dataframes, you can call simple function to gain insights.**

**Q5 - Have a look at the first lines of your Dataframe. **

*Hint : "Show me the lines"*

In [20]:
#df.__showFunction__

### STRIP_START
df.show()
### STRIP_END

+-------------------+-----------+----------------+--------------------+-----+-----------+-----------------+---------------+----------------------+-------------------------+
|Base License Number|Wave Number|       Base Name|                 DBA|Years|Week Number|Pickup Start Date|Pickup End Date|Total Dispatched Trips|Unique Dispatched Vehicle|
+-------------------+-----------+----------------+--------------------+-----+-----------+-----------------+---------------+----------------------+-------------------------+
|             B02865|          4|     VIER-NY,LLC|    UBER-VIER-NY LLC| 2016|         40|        9/25/2016|      10/1/2016|                  4585|                      101|
|             B02883|          4|SECHZEHN-NY, LLC|UBER-SECHZEHN-NY,...| 2016|         39|        9/18/2016|      9/24/2016|                 21336|                      515|
|             B02765|          1|        GRUN LLC|       UBER-GRUN LLC| 2016|          5|        1/24/2016|      1/30/2016|                 60767|                     1455|
|             B02875|          4|   SECHS-NY, LLC|  UBER-SECHS-NY, LLC| 2016|         23|        5/29/2016|       6/4/2016|                 12094|                      279|
|             B02865|          4|     VIER-NY,LLC|    UBER-VIER-NY LLC| 2016|         24|         6/5/2016|      6/11/2016|                  1141|                       26|
|             B02835|          4|   DREIST NY LLC|  UBER-DREIST NY LLC| 2016|          1|         1/1/2016|       1/2/2016|                 34788|                     2374|
|             B02884|          4|DREIZEHN-NY, LLC|UBER-DREIZEHN-NY,...| 2016|         37|         9/4/2016|      9/10/2016|                  5316|                       98|
|             B02888|          4| SIEBZEHN-NY,LLC|UBER-SIEBZEHN-NY,LLC| 2016|          1|         1/1/2016|       1/2/2016|                  2656|                      215|
|             B02870|          4|     NEUN-NY,LLC|    UBER-NEUN-NY LLC| 2016|         28|         7/3/2016|       7/9/2016|                 10853|                      275|
|             B02883|          4|SECHZEHN-NY, LLC|UBER-SECHZEHN-NY,...| 2016|         45|       10/30/2016|      11/5/2016|                 22929|                      511|
|             B02882|          4|  ZWANZIG-NY,LLC| UBER-ZWANZIG-NY,LLC| 2016|         25|        6/12/2016|      6/18/2016|                  4069|                       83|
|             B02869|          4|    ZEHN-NY,LLC.|    UBER-ZEHN-NY LLC| 2016|         12|        3/13/2016|      3/19/2016|                  1162|                       33|
|             B02884|          4|DREIZEHN-NY, LLC|UBER-DREIZEHN-NY,...| 2016|         38|        9/11/2016|      9/17/2016|                  5128|                       98|
|             B02875|          4|   SECHS-NY, LLC|  UBER-SECHS-NY, LLC| 2016|         19|         5/1/2016|       5/7/2016|                  8727|                      178|
|             B02870|          4|     NEUN-NY,LLC|    UBER-NEUN-NY LLC| 2016|         20|         5/8/2016|      5/14/2016|                 11504|                      263|
|             B02865|          4|     VIER-NY,LLC|    UBER-VIER-NY LLC| 2016|         50|        12/4/2016|     12/10/2016|                 29850|                      583|
|             B02512|          1|       UNTER LLC|      UBER-UNTER LLC| 2016|         37|         9/4/2016|      9/10/2016|                 12503|                      551|
|             B02880|          4|NEUNZEHN-NY, LLC|UBER-NEUNZEHN-NY,...| 2016|         14|        3/27/2016|       4/2/2016|                  2078|                       48|
|             B02876|          4|VIERZEHN-NY, LLC|UBER-VIERZEHN-NY,...| 2016|         20|         5/8/2016|      5/14/2016|                  8558|                      197|
|             B02395|          3|      ABATAR INC|     UBER-ABATAR LLC| 2016|         30|        7/17/2016|      7/23/2016|                 24272|                      964|
+-------------------+-----------+----------------+--------------------+-----+-----------+-----------------+---------------+----------------------+-------------------------+
only showing top 20 rows

**Q6 - Find the function for retrieving the **Schema** of your Dataframe.**

*Hint : "Print the Schema"*

In [21]:
#df.__schemaFunction__

### STRIP_START
print(df.schema)
### STRIP_END

StructType(List(StructField(Base License Number,StringType,true),StructField(Wave Number,IntegerType,true),StructField(Base Name,StringType,true),StructField(DBA,StringType,true),StructField(Years,IntegerType,true),StructField(Week Number,IntegerType,true),StructField(Pickup Start Date,StringType,true),StructField(Pickup End Date,StringType,true),StructField(Total Dispatched Trips,IntegerType,true),StructField(Unique Dispatched Vehicle,IntegerType,true)))

**Q7 - Display the line count of your Dataframe. You should have 1474 lines.**

In [23]:
#df.__dfCount__

### STRIP_START
df.count()
### STRIP_END

1474

**Q8. Apply a function to describe your Dataframe.**

*Hint : Very similar to Pandas describe, just add show at the end.*

In [33]:
#df.__describeAndShow__

### STRIP_START
df.describe().show()
### STRIP_END

+-------+-------------------+------------------+-------------+------------------+------+------------------+-----------------+---------------+----------------------+-------------------------+
|summary|Base License Number|       Wave Number|    Base Name|               DBA| Years|       Week Number|Pickup Start Date|Pickup End Date|Total Dispatched Trips|Unique Dispatched Vehicle|
+-------+-------------------+------------------+-------------+------------------+------+------------------+-----------------+---------------+----------------------+-------------------------+
|  count|               1474|              1474|         1474|              1474|  1474|              1474|             1474|           1474|                  1474|                     1474|
|   mean|               null|3.4294436906377204|         null|              null|2016.0| 27.09226594301221|             null|           null|     47535.91926729986|        1141.793080054274|
| stddev|               null|1.1526886848698439|         null|              null|   0.0|15.305875497109861|             null|           null|      73047.8164003302|        1777.300796366993|
|    min|             B02395|                 1|   ABATAR INC|   UBER-ABATAR LLC|  2016|                 1|         1/1/2016|      1/16/2016|                     1|                        1|
|    max|             B02889|                 4|ZWOLF-NY, LLC|UBER-ZWOLF-NY, LLC|  2016|                53|         9/4/2016|       9/3/2016|                375202|                     8967|
+-------+-------------------+------------------+-------------+------------------+------+------------------+-----------------+---------------+----------------------+-------------------------+

#### **Q9. Apply the describe function on two integer columns.**

*Hint : Use a .select()*

In [38]:
#df.__chainedMethods__

### STRIP_START
df.select('Wave Number', 'Week Number').describe().show()
### STRIP_END

+-------+------------------+------------------+
|summary|       Wave Number|       Week Number|
+-------+------------------+------------------+
|  count|              1474|              1474|
|   mean|3.4294436906377204| 27.09226594301221|
| stddev|1.1526886848698439|15.305875497109861|
|    min|                 1|                 1|
|    max|                 4|                53|
+-------+------------------+------------------+

**Now that you have played around with your dataframe, you can go back to your WebUI.**

**Q10. Navigate the jobs, and find the DAG of a job** 

*Hint : it's 2 clics*

In [ ]:
# Check the URL at Question 2 and navigate to find an example of a DAG.